body{
  background-color:white;
  font-size: 10pt;
}

.boxed {
  font-family: "Just Me Again Down Here";
  display: flex;
  background-color: #393636;
  width: 300px;
  border: 5px solid gray;
  border-radius: 5px;
  box-shadow: 0 0 5px #333;
  padding: 25px;
  margin: 25px;

}


.button {
  font-family: "Just Me Again Down Here";
  margin-left: 5px;
  outline: none;
  border: 3px solid #BEC6D0;
  border-radius: 5px;
  padding: 3px;
  width: 70px;
  height: 50px;
  overflow: hidden;
  background: #e0dfe2;
  transform: translate(0, 0);
  
  cursor:pointer;
}

.button:hover{
  margin-top:-10px;
}

.but_col_1{
  background-color:#4279BD;
  color:white;
}

.but_col_2{
  background-color:#D5655D;
  color:white;
}

h1{
    color:#424242;
}

h3{
    margin-top:50px;
    margin-bottom: 50px;
    color:#6B6B6B;
}