<app-header
        [authenticated]="auth.authenticated"
        (signOut)="signOut()">
</app-header>

<div *ngIf="auth.authenticated">
    <md-sidenav-container>
        <!-- A sidebar -->
        <md-sidenav>
            <div class="g-row top_but">
                <button routerLink="/reading" class="menu-button fa fa-book">Reading area</button>
            </div>
            <div class="g-row">
                <button routerLink="/practice" class="menu-button fa fa-pencil">Practice</button>
            </div>
            <div class="g-row">
                <button routerLink="/results" class="menu-button fa fa-line-chart">Results</button>
            </div>
        </md-sidenav>

        <!-- Hamburger menu -->
        <div class="container barP" (click)="openMenu()">
            <div class="bar1"></div>
            <div class="bar2"></div>
            <div class="bar3"></div>
        </div>
    </md-sidenav-container>
</div>
<router-outlet></router-outlet>