@import
"~minx/src/settings",
"~minx/src/functions",
"~minx/src/mixins";

//===================================================================
//  APP
//===================================================================

.main {
  padding-bottom: 90px;
}

//Variables
$light-grey: #686866;
$dark-grey: rgba(85, 85, 85, 0.5);
$white : #FFF;
$width: 300px;

//Box Class
.boxed {
  display: flex;
  background-color: #393636;
  width: 300px;
  border-radius: 5px;
  box-shadow: 0 0 5px #333;
  padding: 25px;
  margin: 25px;

  @include media-query(540) {
    font-size: rem(24px);
  }
}

//Sidebar content
:host /deep/ .sidebar-content {
  &.ng-sidebar--opened {
    /*width: $width;
    max-width: $width;
    
    padding: 25px;
    align-content: center;*/
    outline-color: gray;
    background-color: $white;
  }

  &.ng-sidebar--opened.ng-sidebar--over {
    box-shadow: 0 0 2.5em rgba(85, 85, 85, 0.5);
  }

}

.menu-button {
  background-color: $white;
  cursor: pointer;
  border: none;
  margin-bottom: 0.5em;
  padding: 0.5em 2em;
  transition: background-color 0.6s;
  
  width: 360px;
  text-align: left;
  outline: none;
  
  &:hover {
    background-color: #5C788A;
    color: $white;
    
    font-size: 20px;
  }
}

//Button style
.button {
  @include button-base;
  margin-left: 5px;
  outline: gray;
  border: 3px;
  border-radius: 1px;
  padding: 3px;
  width: 50px;
  height: 50px;
  overflow: hidden;
  background: #e0dfe2;
  transform: translate(0, 0);
}

.container {
  display: inline-block;
  cursor: pointer;
}

.barP{
  &:hover{
    .bar1, .bar2, .bar3 {
        background-color:white;
        border: 1px solid black;
    }
  }  
}

.top_but{
  margin-top: 20px;
}

.bar1, .bar2, .bar3 {
  background-color: black;
  width: 35px;
  height: 5px;
  margin: 5px 5px;
  transition: 0.4s;
  
  border-radius: 5px;
  z-index: 1;
  
  /*&:hover{
    background-color:white;
    border:2px solid black;
  }*/
}

/* Rotate first bar */
.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
  transform: rotate(-45deg) translate(-9px, 6px) ;
}

/* Fade out the second bar */
.change .bar2 {
  opacity: 0;
}

/* Rotate last bar */
.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
  transform: rotate(45deg) translate(-8px, -8px) ;
}