<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Francois+One" />
<link rel="stylesheet" href="../../common/anim.css" type="text/css" />

<div class="anim_cont">
    <div class="va"></div>
</div>

<div class="g-col">
    <div class="g-row">
        <h3>Welcome to UWI Cloudcast Literacy Tutor</h3>
        <h5>Below a text will appear and you will be instructed to read it.</h5>
        
        <div class="boxed">
            <div *ngFor="let word of words">
                <div [ngStyle]= "">{{word.title}}</div>
                <div style="padding: 20px;"></div>
            </div>
        </div>
        <h6>To begin reading, click the start button, press Stop when you are finished reading.</h6>
        <button [ngStyle]="" class="button but_col_1 fa fa-microphone" (click)='record()'>{{buttonText}}</button>
    </div>
</div>

